$tc: white;
//text color
$ltc: lighten(#152c2f, 60%);
// lighten text color
$bc: #152c2f;
//background color
$bdrc: black;
//border color
$dtxt: monospace;
//display text
$btxt: serif;
//body text
$asize: 25px;
//link font size
$hh: 100px;
//header height
@mixin border {
    border: 3px solid $bdrc;
}

#header {
    margin: 0px auto;
    width: 95%;
    height: $hh;
    background-color: $bc;
    color: $tc;
    font-family: $dtxt;
    text-align: center;
    padding-top: 10px;
    @include border;
    font-size: 115%;
}

#assign {
    width: 95%;
    margin: 0px auto;
    text-align: center;
}

.box {
    display: inline-block;
    width: 30%;
    background-color: $bc;
    height: 75px;
    @include border;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-family: $dtxt;
    font-size: $asize;
    vertical-align: middle;
    padding-top: $asize * 1.5;
    //Sass Math
        
    a {
        text-decoration: none;
        color: $tc;
        border-bottom: solid 1px transparent;
        transition: border-bottom-color .2s ease-out;
    }
     a:hover {
    border-bottom: solid 2px $ltc;
    color: $ltc;
  }
    a:visited { 
    color: darken($ltc, 40%);
  }
}


#footer {
    @extend #header;
    a {
        text-decoration: none;
        color: $tc;
    }
    a:hover {
        text-decoration: underline;
    }
    height: $hh / 2;
    //Sass math
    margin-top: 10px;
}